body{
	font: 300 16px/1.6 "LatoBA", Arial, sans-serif;
}

.bb{
	width: 100%;
	height: 10px;
	background: red;
}

/* Typography */
h1{
	font: 700 54px/1.2 "LatoBA", Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6{
	letter-spacing: .16em;
}

h2{
	font-size: 34px;
}

a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
}

textarea {

}

/*header*/

.ba-container{
	max-width: 960px;
	padding: 0 30px;
	margin-left: auto;
	margin-right: auto;
}

.ba-header{
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background: url("../img/header-background.png") 50% no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	color: #FFF;
	position: relative;
}

.ba-header__inner{
	width: 98%;
}

.ba-logo{
	display: inline-block;
	height: 69px;
	width: 65px;
}

.ba-logo__img{
	display: block;
}

.ba-header__title{
	margin-top: 73px;
	color: #FFF;
	padding: 0 0 20px;
	font-size: 54px;
	letter-spacing: 0.16em;
	line-height: 1.2em;
	margin-bottom: 0;
}

.ba-header__text{
	text-transform: uppercase;
	display: block;
	line-height: 1.85em;
}

.ba-header__svitcher{
	display: inline-block;
	position: absolute;
	bottom: 10%;
	right: 50%;
	margin-right: -11px;
}

.ba-header__svitcher__img{
	display: block;
}

/*---------------------------------------------main------------------------------------------------------*/
/*about us*/
.ba-about_us{
	padding: 121px 0 161px 0;
}

.ba-box{
	padding: 70px 150px 45px;
	border: solid #393939;
	border-width: 0 2px 2px 2px;
	position: relative;
	margin-top: 40px;
}

.ba-box:before,
.ba-box:after{
	position: absolute;
	content: "";
	top: 0;
	display: block;
	height: 2px;
	background-color: #393939;
	width: 26%;
}

.ba-box:before{
	right: 0;
}

.ba-box:after{
	left: 0;
}

.ba-box__title{
	position: absolute;
	top: 0;
	left: 26%;
	right: 26%;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.ba-about_us__text{
	font-size: 16px;
	line-height: 24px;
	margin: 0;
}

.ba-about_us__text:first-of-type{
	padding-bottom: 25px;
}

/*services*/

.ba-sevices{
	color: #FFF;
	padding: 87px 0 108px 0;
	background: url("../img/services-backg.png") 50% no-repeat;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.ba-services__text{
	font-size: 16px;
	line-height: 26px;
	margin: 0 0 5px 0;
}

.ba-box-white{
	padding: 70px 150px 45px;
	border: solid #fff;
	border-width: 0 2px 2px 2px;
	position: relative;
	margin-top: 40px;
}

.ba-box-white:before,
.ba-box-white:after{
	position: absolute;
	content: "";
	top: 0;
	display: block;
	height: 2px;
	background-color: #fff;
	width: 26%;
}

.ba-box-white:before{
	right: 0;
}

.ba-box-white:after{
	left: 0;
}
/*what we do*/
/*design*/

.ba-whatwedo{
	padding: 80px 0 114px 0;
}

.ba-whatwedo__design{
	margin-top: 55px;
}

.ba-whatwedo__design__logo{
	display: inline-block;
	width: 79px;
	height: 83px;
}

.ba-whatwedo__design__logo__img{
	display: block;
}

.ba-whatwedo__section__design__head{
	font-size: 20px;
	text-transform: uppercase;
	display: block;
	padding-top: 5px;
}

.ba-whatwedo__section__design__text{
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0;
	padding-top: 1px;
}

/*development*/

.ba-whatwedo__development{
	padding-top: 90px;
}

.ba-whatwedo__developmentpment__logo{
	display: inline-block;
	width: 79px;
	height: 76px;
}

.ba-whatwedo__development__logo__img{
	display: block;
}

.ba-whatwedo__section__development__head{
	font-size: 20px;
	text-transform: uppercase;
	display: block;
	padding-top: 1px;
}

.ba-whatwedo__section__development__text{
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0;
	padding-top: 7px;
}

/*product management*/

.ba-whatwedo__pm{
	padding-top: 74px;
}

.ba-whatwedo__pm__logo{
	display: inline-block;
	width: 78px;
	height: 91px;
}

.ba-whatwedo__pm__logo__img{
	display: block;
}

.ba-whatwedo__section__pn__head{
	font-size: 20px;
	text-transform: uppercase;
	display: block;
	padding-top: 8px;
}

.ba-whatwedo__section__pm__text{
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0;
	padding-top: 11px;
	padding-bottom: 23px;
}

/*links*/

.ba-links__column{
	position: relative;
}

.ba-links__row__picture{
	display: block;
	height: 240px;
	position: relative;
}

.ba-links__row__link{
	position: absolute;
	display: inline-block;
	top: 0;
	left: 10px;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .1);
	font-size: 34px;
	padding-top: 155px;
	padding-left: 36px;
	font-weight: bold;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 7px;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s ease-in, visibility .3s ease-in;
}

.ba-links__column:hover .ba-links__row__link{
	visibility: visible;
	opacity: 1;
}

/*contactus*/

.ba-contact_us{
padding-top: 99px;
}

.ba-contact_us__box__title{
font-size: 30px;
}

.ba-contact_us__text{
margin-top: 0;
font-size: 16px;
line-height: 26px;
}

.ba-contact_us__bottom{
display: inline-block;
height: 58px;
width: 395px;
text-transform: uppercase;
color: #FFF;
font-size: 16px;
line-height: 58px;
background: #393939;
text-decoration: none;
letter-spacing: 2px;
margin-top: 20px;
margin-bottom: 3px;
}

.ba-contact_us__bottom:hover{
background: rgba(57, 57, 57, .8);
}

/*footer*/

.ba-footer{
text-align: center;
padding-top: 60px;
padding-bottom: 60px;
line-height: 37px;
}

.ba-logo__footer{
display: inline-block;
height: 37px;
width:35px;
vertical-align: middle;
margin-right: 30px;
}

.ba-logo__footer__img{
display: block;
}

.ba-footer__rights{
font-size: 14px;
}







